= simple_form_for comment, url: do |f|
  .mb-3 = f.input :content, presence: true, as: :text, label: false, input_html: { class: 'form-control' }
  = f.input :parent_id, as: :hidden

  = f.submit t('.publish'), class: 'btn btn-primary'
